@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: #b67008;
    color: #ffffff;
}

.section {
    padding: 0rem 8rem;
}

.btn {
    background: #FEA116;
    color: #fff;
    border: none;
    padding: 16px 32px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: Poppins, Arial, sans-serif;
    text-transform: uppercase;
}

.btn:hover {
    background: #FFC107;
    box-shadow: 0 0 10px #ffc1077a;
}

.btn:active {
    background: #FF9800;
}

/* HEADER */
#hero {
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-image: url('../images/hero-bg.png');
    height: 90vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    width: 200px;
    height: auto;
}

.nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #0F172B;
    transition: background-color 0.2s ease;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2rem;
}

.nav-list a {
    all: unset;
}

.nav-item {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #fff;
    transition: color 0.1s ease;
}

.nav-item:hover {
    color: #FEA116;
    cursor: pointer;
}

.hamburger {
    display: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

/* HERO */
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero-text h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    margin-top: 0;
    color: #fff;
}

.hero-text p {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    margin-top: 0;
    color: #fff;
}

.hero-img {
    height: auto;
    animation: rotate-image 120s linear infinite;
}

@keyframes rotate-image {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* ABOUT */
#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 8rem;
}


.about-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 4rem;
    margin: 2rem 0;
}


.about-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #fff;
    padding: 3rem;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
}

.about-card:hover {
    background-color: #FEA116;
    box-shadow: 0 0 20px #fea116d8;
    transition: color 0.1s ease;
}

.about-icon {
    color: #FEA116;
    width: auto;
    height: 50px;
    transition: color 0.1s ease;
}

.about-card:hover .about-icon {
    color: #fff;
}

.about-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0rem;
    transition: color 0.1s ease;
}

.about-card:hover h3 {
    color: #fff;
}

.about-card p {
    font-size: 1rem;
    margin-bottom: 0rem;
    transition: color 0.1s ease;
}

.about-card:hover p {
    color: #fff;
}

/* About Us Section */
#about-us {
    background-color: #F1F8FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.about-us-img {
    width: 30%;
    height: auto;
}

.title {
    font-family: Pacifico, Arial, sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    color: #FF9800;
    margin: 0;
}

.title::before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: #FF9800;
    vertical-align: middle;
    margin-bottom: 8px;
    margin-right: 1rem;
}

.title::after {
    content: '';
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: #FF9800;
    vertical-align: middle;
    margin-bottom: 8px;
    margin-left: 1rem;
}

.heading {
    font-size: 2.5rem;
    color: #0F172B;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.heading-icon {
    color: #FEA116;
    width: auto;
    height: 2rem;
    transition: color 0.1s ease;
}

.about-us-text {
    max-width: 60%;
}

.about-us-text p {
    font-size: 1.1rem;
    color: #666565;
    margin: 0;
}

.numbers {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    align-items: center;
}

.number {
    font-size: 4rem;
    font-weight: 700;
    color: #FEA116;
    margin: 0;
}

.number::before {

    content: '|';
    font-size: 5rem;
    font-weight: 300;
    color: #FEA116;
}

.number-container {
    display: flex;
    align-items: center;
    gap: 4rem;
}

/* MENU */
#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categories-container {
    display: flex;
    justify-content: center;
    gap: 4rem;
    border-bottom: 2px solid #d1d1d1;
}

.category-icon {
    color: #FEA116;
    width: auto;
    height: 40px;
    transition: color 0.1s ease;
}

.category {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    border-bottom: 4px solid transparent;
}

.category:hover {
    cursor: pointer;
}

.category.active {
    border-bottom: 4px solid #FEA116;
}

.item-img {
    width: 90px;
    height: 90px;
    border-radius: 5%;
    object-fit: cover;
}

.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.item-text {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 28rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.item-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-title {
    color: #0F172B;
    font-size: 1.5rem;
    margin: 0;
}

.item-price {
    color: #FEA116;
    font-size: 1.5rem;
    margin: 0;
}

.item-description {
    margin: 0;
}

.underline {
    width: 100%;
    height: 1px;
    background-color: #d1d1d1;
    border: none;

}

.items-container {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6rem;
    row-gap: 2rem;
    margin-top: 4rem;
}

.items-container.show {
    display: grid;
}

/* RESERVATION */
#reservation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75vh;
    width: 100%;
    background-color: #0F172B;
    margin: 0;
}

.res-img-container {
    display: flex;
    flex: 1;
    height: 100%;
    overflow: hidden;
}

.res-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.res-form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.res-form-container .heading {
    color: #fff;
}

.res-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
    padding: 2rem;
}

.res-form input[type="datetime-local"] {
    grid-column: span 1;
}

.res-form {
    display: grid;
    grid-template-columns: repeat(1fr, 1fr);
    gap: 1.5rem;
}

.res-form input,
.res-form textarea {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 2px;
    font-size: 1em;
    font-family: Poppins, Arial, sans-serif;
}

.res-form textarea {
    grid-column: span 2;
    height: 80px;
}

.res-form input:focus,
.res-form textarea:focus {
    box-shadow: 0 0 10px #ffffff8a;
}

.res-form button {
    grid-column: span 2;
}

.form-heading {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.form-heading .title::before {
    display: none;
}

/* TEAM MEMBERS */
#team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    gap: 4rem;
}

.member-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 220px;
    height: 330px;
    padding: 2rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease;
    position: relative;
    overflow: hidden;
}

.member-card:hover {
    transform: translateY(-10px)
}

.member-img {
    width: 220px;
    height: 220px;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.member-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}

.member-details h3 {
    font-size: 1.5rem;
    margin: 0;
}

.member-details p {
    font-size: 1rem;
    margin: 0;
}

.member-socials {
    display: flex;
    gap: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-top: 1rem;
    position: absolute;
    bottom: 0;
}

.member-card:hover .member-socials {
    opacity: 1;
}


.member-icon {
    width: auto;
    height: 40px;
}

.member-container {
    display: flex;
    gap: 4rem;
}

/* TESTIMONIALS */
#testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    gap: 4rem;
    background-color: #f1f8ff;
}

.test-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.test-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 2rem 0;
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    border: #e6e6e6 2px solid;
    gap: 1rem;
}

.test-card:hover {
    background-color: #FEA116;
    box-shadow: 0 0 20px #fea116d8;
    border-color: transparent;
    transition: color 0.1s ease;
}

.test-icon {
    color: #FEA116;
    width: auto;
    height: 40px;
    transition: color 0.1s ease;
}

.test-card:hover .test-icon {
    color: #fff;
}

.test-card h3 {
    font-size: 1.5rem;
    transition: color 0.1s ease;
    margin: 0;
}

.test-card:hover h3 {
    color: #fff;
}

.test-details p {
    font-size: 1rem;
    margin: 0;
    transition: color 0.1s ease;
}

.test-card:hover p {
    color: #fff;
}

.test-details {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.test-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.test-pic {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    object-fit: cover;
}

.test-content {
    margin-top: 1rem;
    margin-bottom: 0rem;
}

/* FOOTER */
#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #272f41;
    color: #fff;
}

.footer-links {
    display: flex;
    gap: 2rem;
}

.footer-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.1s ease;
}

.footer-link:hover {
    color: #FEA116;
}

.site-name {
    text-decoration: underline;
    text-underline-offset: 6px;
}

/* SCROLL BUTTON */
.scroll-btn {
    position: fixed;
    bottom: 55px;
    right: 55px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

.scroll-btn svg {
    fill: #FEA116;
    border-radius: 5%;
    box-shadow: 0 5px 15px #00000025;
}

.scroll-btn:hover {
    opacity: 0.8;
}

.scrolling {
    opacity: 1;
}


/* --------- CONTACT PAGE --------- */

#contact-hero {
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-hero-text h1 {
    font-size: 4rem;
    margin-bottom: 0;
    margin-top: 0;
    color: #fff;
    text-align: center;
}

.contact-hero-text p {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.contact-link {
    color: #FEA116;
}

.contact-link-home {
    color: #fff;
    text-decoration: none;
}

.contact-link-home:hover {
    color: #FEA116;
}

.contact-header {
    background-image: url('../images/hero-bg.png');
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 4rem 8rem;
}


.contact-formmap-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}



.contact-form {
    display: grid;
    grid-template-columns: repeat(1fr, 1fr);
    gap: 1.5rem;
    width: 100%;
}

.contact-form input,
.contact-form textarea {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 2px;
    font-size: 1em;
    font-family: Poppins, Arial, sans-serif;
}

.contact-form textarea {
    grid-column: span 2;
    height: 80px;
}

.contact-form .contact-subj {
    grid-column: span 2;
}

.contact-form input:focus,
.contact-form textarea:focus {
    box-shadow: 0 0 10px #ffffff8a;
}

.contact-form button {
    grid-column: span 2;
}

.contact-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.c-title {
    font-family: Pacifico, Arial, sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    color: #FF9800;
    margin: 0;
}

.contact-text-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}


.c-title::after {
    content: '';
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: #FF9800;
    vertical-align: middle;
    margin-bottom: 8px;
    margin-left: 1rem;
}

.c-para {
    font-size: 1.1rem;
    color: #666565;
    margin: 0;
    font-weight: 400;
}

.c-desc {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* -------- Responsive CSS -------- */

@media (max-width: 1024px) {
    .section {
        height: auto;
        padding: 0rem 4rem;
    }

    .hero-container {
        flex-direction: row;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    .hero-img {
        width: 45%;
    }

    .hero-text {
        max-width: 100%;
    }

    .hero-text h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
        margin-top: 0;
        color: #fff;
    }

    .hero-text p {
        font-size: 1.2rem;
        margin-bottom: 3rem;
        margin-top: 0;
        color: #fff;
    }

    /* --- */

    .about-container {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 2rem 0;
    }


    .about-card {
        margin: 0;
    }

    .about-icon {
        height: 40px;
    }

    /* --- */

    .about-us-img {
        width: 30%;
    }

    .about-us-text {
        max-width: 60%;
    }

    .about-us-text p {
        font-size: 1rem;
    }

    .number-container {
        gap: 3rem;
    }

    /* --- */

    #menu {
        height: auto;
        padding: 4rem 0;
    }

    .item-img {
        width: 80px;
        height: 80px;
    }

    .menu-item {
        justify-content: center;
        padding: 0 1rem;
    }

    .items-container {
        display: none;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 6rem;
        row-gap: 2rem;
        margin-top: 4rem;
    }

    .items-container.show {
        display: grid;
    }

    /* --- */

    #team {
        height: auto;
        padding: 4rem 0;
    }

    .member-card {
        gap: 0rem;
        width: auto;
        height: auto;
    }

    .member-img {
        width: 200px;
        height: 200px;
    }

    .member-details h3 {
        font-size: 1.3rem;
    }

    .member-socials {
        display: flex;
        gap: 1rem;
        opacity: 0;
        transition: opacity 0.3s ease;
        margin-top: 1rem;
        position: absolute;
        bottom: 0;
    }

    .member-card:hover .member-socials {
        opacity: 1;
    }


    .member-icon {
        width: auto;
        height: 35px;
    }

    .member-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    /* --- */

    #testimonials {
        height: auto;
        padding: 4rem 4rem;
    }

    /* --- */

    .scroll-btn {
        bottom: 50px;
        right: 30px;
    }

    .contact-formmap-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }

    .contact-text-container {
        justify-content: center;
        gap: 2rem;
    }


}

@media (max-width: 768px) {
    .btn {
        padding: 12px 24px;
        font-size: 1rem;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #0F172B;
        width: 100%;
        padding: 1rem 0;
    }

    .nav-list.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .hero-container {
        flex-direction: column;
        gap: 4rem;
        justify-content: center;
        align-items: center;
    }

    .hero-img {
        width: 70%;
    }

    .hero-text {
        max-width: 100%;
    }

    .hero-text h1 {
        text-align: center;
    }

    .hero-text p {
        text-align: center;
    }

    .hero-content {
        align-items: center;
    }

    .number-container {
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: start;
        justify-content: center;
    }

    .numbers {
        margin-top: 0;
    }

    #about-us {
        flex-direction: column;
        gap: 4rem;
    }

    .about-us-img {
        width: auto;
        height: auto;
    }

    .about-us-text {
        max-width: 100%;
    }

    .about-us-text .title::before {
        display: none;
    }

    #reservation {
        flex-direction: column;
        height: auto;
    }

    .test-container {
        flex-direction: column;
    }

    .test-card {
        width: 100%;
        margin: 0;
    }

    #footer {
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 0;
    }

    .footer-name,
    .footer-links {
        margin: 0;
    }

    #contact-us .title {
        text-align: center;
    }

    #contact-us .heading {
        text-align: center;
    }

    .scroll-btn {
        bottom: 25px;
        right: 25px;
    }
}

@media (max-width: 480px) {
    .section {
        padding: 0rem 2rem;
    }

    .header {
        height: auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .header-logo {
        width: 150px;
    }

    .hero-container {
        gap: 0;
    }

    .hero-text h1 {
        font-size: 2rem;
    }

    .hero-text p {
        font-size: 0.8rem;
    }

    .title::before {
        display: none;
    }

    .title::after {
        display: none;
    }

    .btn {
        padding: 12px 24px;
        font-size: 1rem;
    }

    .hero-img {
        width: 80%;
        margin-top: 4rem;
    }

    #about {
        padding: 0 3rem;
    }

    .about-container {
        grid-template-columns: repeat(1, 1fr);
    }


    .about-card h3 {
        font-size: 1.2rem;
    }

    .about-card p {
        font-size: 1rem;
    }

    #about-us {
        padding: 2rem 3rem;
    }

    .about-us-img {
        width: 100%;
    }

    .about-us-text {
        max-width: 100%;
    }

    .about-us-text p {
        font-size: 1rem;
    }

    .numbers {
        gap: 1;
    }

    #menu-section {
        padding: 2rem 3rem;
    }

    .categories-container {
        flex-direction: row;
        justify-content: center;
        gap: 1.5rem;
    }

    .menu-text {
        text-align: center;
    }

    .category {
        gap: 0.5rem;
    }

    .category p {
        font-size: 0.8rem;
    }

    .category-icon {
        height: 30px;
    }

    .item-img {
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    .item-name {
        display: flex;
        gap: 0;
    }

    .item-title,
    .item-price {
        font-size: 1.2rem;
    }

    .item-description {
        font-size: 0.8rem;
    }

    .item-text {
        width: auto;
    }

    .items-container {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-top: 4rem;
        width: 100%;
    }

    .items-container.show {
        display: flex;
    }

    .res-form {
        display: flex;
        flex-direction: column;
    }

    .res-form-container {
        padding: 1.5rem;
    }

    .res-img {
        height: 50vh;
    }

    #team {
        padding: 2rem 3rem;
    }

    .member-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        align-items: center;
        width: 100%;
    }

    #contact-us {
        padding: 2rem 3rem;
    }

    .contact-hero-text {
        padding: 2rem 0;
        margin-top: 1.5rem;
    }

    .contact-text-container {
        flex-direction: column;
        align-items: start;
        gap: 3rem;
    }

    #contact-us .heading {
        font-size: 2rem;
        text-align: center;
    }

    .contact-formmap-container {
        flex-direction: column;
        gap: 4rem;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
    }

    .contact-form-container {
        width: 100%;
    }

    .contact-img {
        width: 100%;
    }

    .contact-hero-text h1 {
        font-size: 2.5rem;
    }

}