@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    font-family: Poppins, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: #b67008;
    color: #ffffff;
}

.section {
    padding: 0rem 10rem;
}

.btn {
    background: #FEA116;
    color: #fff;
    border: none;
    padding: 16px 32px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: Poppins, Arial, sans-serif;
    text-transform: uppercase;
}

.btn:hover {
    background: #FFC107;
    box-shadow: 0 0 10px #ffc1077a;
}

.btn:active {
    background: #FF9800;
}

/* HEADER */
#hero {
    background-color: rgb(7, 7, 43);
    background-image: url('../images/hero-bg.png');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
}

.header-logo {
    width: 200px;
    height: auto;
}

.nav {
    padding: 1.2rem 0;
    margin: 0 -10rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.2s ease;
}

.nav.scrolled {
    background-color: #0F172B;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2rem;
}

.nav-list a {
    all: unset;
}

.nav-item {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #fff;
    transition: color 0.1s ease;
}

.nav-item:hover {
    color: #FEA116;
    cursor: pointer;
}

.hamburger {
    display: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

/* HERO */
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 0;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero-text {
    max-width: 70%;
}

.hero-text h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    margin-top: 0;
    color: #fff;
}

.hero-text p {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    margin-top: 0;
    color: #fff;
}

.hero-img {
    width: 60%;
    height: auto;
    animation: rotate-image 120s linear infinite;
    opacity: 0.8;
}

@keyframes rotate-image {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* ABOUT */
.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    margin: 2rem 0;
}


.about-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 2rem 0;
    background-color: #fff;
    padding: 3rem;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
}

.about-card:hover {
    background-color: #FEA116;
    box-shadow: 0 0 20px #fea116d8;
    transition: color 0.1s ease;
}

.about-icon {
    color: #FEA116;
    width: auto;
    height: 50px;
    transition: color 0.1s ease;
}

.about-card:hover .about-icon {
    color: #fff;
}

.about-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0rem;
    transition: color 0.1s ease;
}

.about-card:hover h3 {
    color: #fff;
}

.about-card p {
    font-size: 1rem;
    margin-bottom: 0rem;
    transition: color 0.1s ease;
}

.about-card:hover p {
    color: #fff;
}

/* About Us Section */
#about-us {
    background-color: #F1F8FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.about-us-img {
    width: 30%;
    height: auto;
}

.title {
    font-family: Pacifico, Arial, sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    color: #FF9800;
    margin-bottom: 0;
}

.heading {
    font-size: 2.5rem;
    color: #0F172B;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.heading-icon {
    color: #FEA116;
    width: auto;
    height: 2rem;
    transition: color 0.1s ease;
}

.about-us-text {
    max-width: 60%;
}

.about-us-text p {
    font-size: 1.1rem;
    color: #666565;
    margin: 0;
}

.numbers {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    align-items: center;
}

.number {
    font-size: 4rem;
    font-weight: 700;
    color: #FEA116;
    margin: 0;
}

.number::before {

    content: '|';
    font-size: 5rem;
    font-weight: 300;
    color: #FEA116;
}

.number-container {
    display: flex;
    align-items: center;
    gap: 4rem;
}

/* MENU */
#menu {
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categories-container {
    display: flex;
    justify-content: center;
    gap: 4rem;
    border-bottom: 2px solid #d1d1d1;
}

.category-icon {
    color: #FEA116;
    width: auto;
    height: 40px;
    transition: color 0.1s ease;
}

.category {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    border-bottom: 4px solid #FEA116;
}




/* -------- Responsive CSS -------- */

@media (max-width: 1024px) {
    .section {
        padding: 0 4rem;
    }

    .btn {
        padding: 8px 16px;
        font-size: 1rem;
    }

    .header-logo {
        width: 200px;
    }

    .nav {
        margin: 0 -4rem;
    }

    .nav-container {
        justify-content: space-between;
        flex-direction: row;
    }

    .nav-item {
        font-size: 1.1rem;
        text-align: center;
    }

    .hero-text {
        max-width: 80%;
    }

    .hero-text h1 {
        font-size: 3rem;
    }

    .hero-text p {
        font-size: 1rem;
    }

    .hero-img {
        width: 40%;
    }

    .about-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin: 2rem 0;
    }

    .about-card {
        padding: 2rem;
        text-align: center;
        margin: 0;
    }

    .about-card p {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .section {
        padding: 0 1rem;
    }

    .nav-container {
        flex-direction: column;
        gap: 1rem;
    }

    .hero-container {
        flex-direction: column;
    }

    .hero-content {
        align-items: center;
    }

    .hero-text {
        text-align: center;
    }

    .hero-text h1 {
        font-size: 2rem;
    }

    .hero-text p {
        font-size: 1rem;
    }

    .hero-img {
        margin-top: 5rem;
        width: 50%;
    }

    .btn {
        padding: 12px 24px;
        font-size: 1rem;
    }

    .about-container {
        gap: 2rem;
        margin: 2rem 1rem;
        justify-content: center;
    }

    .about-card {
        padding: 2rem;
        text-align: center;
        margin: 0;
    }

    .about-card p {
        text-align: left;
    }
}

@media (max-width: 480px) {
    .section {
        padding: 0 1rem;
    }

    .header-logo {
        width: 150px;
    }

    .nav {
        margin: 0 -1rem;
    }

    .nav-container {
        justify-content: space-evenly;
        flex-direction: row;
    }

    .hamburger {
        display: block;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        background-color: #0F172B;
        padding: 1rem;
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .nav-list.active {
        display: flex;
        max-height: 300px;
    }

    .nav-item {
        font-size: 1.5rem;
        padding: 0.5rem 0;
        text-align: center;
        color: #fff;
    }

    .hero-container {
        flex-direction: column;
    }

    .hero-content {
        align-items: center;
    }

    .hero-text {
        max-width: 100%;
    }

    .hero-text h1 {
        font-size: 2rem;
    }

    .hero-text p {
        font-size: 1rem;
    }

    .hero-img {
        margin-top: 6rem;
        width: 80%;
    }

    .btn {
        padding: 12px 24px;
        font-size: 1rem;
    }

    .about-container {
        gap: 2rem;
        justify-content: center;
        margin: 2rem 1rem;
    }

    .about-card {
        padding: 2rem;
        text-align: center;
        margin: 0;
    }

    .about-card p {
        text-align: left;
    }
}