@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: #b67008;
    color: #ffffff;
}

.section {
    padding: 0rem 3rem;
}

.btn {
    background: #FEA116;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 500;
    font-family: Poppins, Arial, sans-serif;
    text-transform: uppercase;
}

.btn:hover {
    background: #FFC107;
    box-shadow: 0 0 10px #ffc1077a;
}

.btn:active {
    background: #FF9800;
}

/* HEADER */
#hero {
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-image: url('../images/hero-bg.png');
    background-size: cover;
}

.header-logo {
    width: 150px;
    height: auto;
}

.nav {
    padding: 1.2rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.2s ease;
}

.nav.scrolled {
    background-color: #0F172B;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #0F172B;
    width: 100%;
    padding: 1rem 0;
}

.nav-list.active {
    display: flex;
}

.nav-item {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #fff;
    transition: color 0.1s ease;
}

.nav-item:hover {
    color: #FEA116;
    cursor: pointer;
}

.hamburger {
    display: block;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

/* HERO */
.hero-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
}

.hero-text p {
    font-size: 1rem;
    color: #fff;
    text-align: center;
}

.hero-img {
    width: 80%;
    height: auto;
    animation: rotate-image 120s linear infinite;
}

@keyframes rotate-image {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* ABOUT */
#about {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

.about-card {
    background-color: #fff;
    padding: 3rem;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
    transition: background-color 0.1s ease;
}

.about-card:hover {
    background-color: #FEA116;
    box-shadow: 0 0 20px #fea116d8;
}

.about-icon {
    color: #FEA116;
    height: 50px;
}

.about-card:hover .about-icon {
    color: #fff;
}

.about-card h3,
.about-card p {
    color: inherit;
}

/* About Us Section */
#about-us {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 2rem 3rem;
}

.about-us-img {
    width: 100%;
    height: auto;
}

.title {
    font-family: Pacifico, Arial, sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    color: #FF9800;
    margin: 0;
}

.heading {
    font-size: 2.5rem;
    color: #0F172B;
}

/* MEDIA QUERIES FOR LARGER SCREENS */
@media (min-width: 768px) {
    .btn {
        padding: 16px 32px;
        font-size: 1.2rem;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .hamburger {
        display: none;
    }

    .hero-container {
        flex-direction: row;
        gap: 2rem;
    }

    .hero-text h1 {
        font-size: 3rem;
    }

    .hero-text p {
        font-size: 1.2rem;
    }

    .about-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }

    .about-card {
        margin: 0;
    }

    #about-us {
        flex-direction: row;
        padding: 4rem;
    }

    .about-us-img {
        width: 30%;
    }
}

@media (min-width: 1024px) {
    .section {
        padding: 0rem 8rem;
    }

    .hero-container {
        flex-direction: row;
        gap: 10rem;
    }

    .hero-text h1 {
        font-size: 4rem;
    }

    .hero-text p {
        font-size: 1.5rem;
    }

    .about-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .about-us-text {
        max-width: 60%;
    }
}